body {
  text-align: center;
}

#pokemon-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none; /* 画像内のボーダーを削除する */
}

#guess-input {
  width: 200px; /* 好みの横幅に合わせて調整してください */
  height: 40px; /* 好みの高さに合わせて調整してください */
}

#myButton {
  width: 70px; /* 好みの横幅に合わせて調整してください */
  height: 40px; /* 好みの高さに合わせて調整してください */
}

#submit-button {
  width: 70px; /* 好みの横幅に合わせて調整してください */
  height: 40px; /* 好みの高さに合わせて調整してください */
}

/* 画像のコンテナのスタイル */
#pokemon-image {
  margin-top: 20px;
  margin: 0 auto;
  width: 200px; /* 画像の幅に合わせて調整してください */
  height: 200px; /* 画像の高さに合わせて調整してください */
  border: 2px solid #ffff00; /* ボーダーのスタイルと色を調整してください */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeff0062; /* ボーダー内の色を指定してください */
  box-sizing: border-box; /* ボーダーが要素のサイズに含まれるようにする */
}

/* 黒くなった後のスタイル */
#pokemon-image.darkened {
  border-color: #ffff00; /* 黒いボーダーの色 */
  background-color: #ffffff9a; /* 黒い背景色 */
}

/* 画像を黒くする */
#pokemon-image.darkened img {
  filter: brightness(0%);
}

#video-area {
  position: fixed;
  z-index: -100;/*最背面に設定*/
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}
