.Event {
    text-align: center;
  }
  
  .Event-header {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
  }

/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
    display: -ms-grid;
    overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 10s infinite linear 0.5s both;
  }
  
  .d-demo__item {
    width: calc(100vw / 4);
  }
  .d-demo__item > img{
     width: 100%;
  }